<div class="col-lg-12">
  <div class="fb-profile">
    <div class="fb-header"></div>
    <div class="profile-img">
      <a href="#">
        <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" title="">
      </a>
    </div>
    <div class="profile-name">
      <h2><%= current_user.name %></h2>
    </div>

    <div class="fb-header-menu">
      <ul>
        <li><a href="#">Timeline</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Friends</a></li>
        <li><a href="#">Photos</a></li>
        <li><a href="#">More...</a></li>
      </ul>
    </div>
  </div>
</div>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
