  <div class="col-md-12 grid-margin" id="<%= dom_id post %>" >
    <div class="card rounded">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
           <%= image_tag("avatar-g879bd12fa_640.png", class: "img-xs rounded-circle" )%>
           <div class="ml-2">
            <p><%= @user.name %></p>
            <p class="tx-11 text-muted">30 mins ago</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="mb-3 tx-14"><%= post.body %></p>
    </div>
    <div class="card-footer">
      <div class="d-flex post-actions">
        <p class="d-none d-md-block ml-2">Like</p>
        <p class="d-none d-md-block ml-2">Comment</p>
      </div>
    </div>
  </div>
</div>
