/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html body {
  background-color: #EAEBEF;
}

.fb-profile {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.profile-img a{
  bottom: 15px;
  border-radius: 50%;
  left: 15px;
  padding:1px;
  position: absolute;
  height: 230px;
  width: 230px;
  background: grey;
  z-index:9;
}
.profile-img img {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  height: 230px;
  width: 230px;
  object-fit: cover;
  padding: 3px;
  border-radius: 50%;
}
.profile-name {
  bottom: 55px;
  left: 260px;
  position: absolute;
}

.profile-name h2 {
  color: white;
  font-size: 32px;
  line-height: 35px;
  max-width: 500px;
  position: relative;
  text-transform: capitalize;
}

.fb-header{
  display: block;
  height: 400px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background: grey;
}
.fb-header-menu {
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
  height: 45px;
  width:100%;
  overflow:hidden;
}

.fb-header-menu ul {
  padding-left: 260px;
  background-color: white;
}
.fb-header-menu ul li {
  display:inline-block;
}
.fb-header-menu ul li a {
  border-right: 1px solid #e9eaed;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  line-height: 2.6;
  padding: 0 25px;
  color:#3B5998;
  text-decoration-line: none;
}

.fb-header-menu ul li:first-child a {
  border-left: 1px solid #e9eaed;
}

.img-xs {
  width: 50px;
  height: 50px;
}

.grid-margin {
  margin-bottom: 1rem;
}

.about-card {
  margin-bottom: 1rem;
}

#create-post-header {
  background-color: white;
}

.create-post-body .form-control {
    width: 100%;
    min-height: 100px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#post-user-name {
  font-weight: bold;
  color: #3B5998;
  margin-bottom: 0;
}

#post-user-time {
  margin-bottom: 0;
}

.post-header-title {
  margin-left: 10px;
}

#card-footer-links > p {
  margin-bottom: 0;
}
